@font-face{
  font-family: minhafonte;
  src: url(Breaking\ Bad.ttf);
}
body{
 
background-color: rgb(24, 24, 24);
    
  }

  
img{
  width: 100%;
  margin-top: 9px;
 }

.container{
  display: flex;
  
}

 .card{

  width: 100%;
  background-color:rgb(240, 241, 240);
  display: flex;
  margin-top: 5px;

}

.img{
  width: 283px;
  height: 201px;
}
 .titulo{
  font-family: minhafonte;
  color: rgb(0, 0, 0);
  font-size: 53px;
  margin-left: 340px;
  margin-top: -26px;
  font-size: 72px; 
}

.paragrafo{
  font: arial;
  margin-left: 6px;
  margin-top: -57px;
  font-size: 19px;
  
 
}

.caixa{
  width: 263px;
  height: 31px;
  background-color: aqua;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  
}

.menu{
  margin-top: 3px;
  text-align: center;
}
