@font-face{
  font-family: minhafonte;
  src: url(Breaking\ Bad.ttf);
}
body{
 
background-color: rgb(24, 24, 24);
    
  }

  
img{
  width: 100%;
  margin-top: 9px;
 }

.container{
  display: flex;
  
}

 .card{

  width: 100%;
  background-color:rgb(240, 241, 240);
  display: flex;
  margin-top: 5px;

}

.img{
  width: 283px;
  height: 201px;
}
 .titulo{
  font-family: minhafonte;
  color: rgb(0, 0, 0);
  font-size: 53px;
  margin-left: 340px;
  margin-top: -26px;
  font-size: 72px; 
}

.paragrafo{
  font: arial;
  margin-left: 6px;
  margin-top: -57px;
  font-size: 19px;
  
 
}

.card2{
  width: 222px;
  height: 30px;
  background-color: aqua;
  margin-left: 10px;
  border-radius: 10px;
}

.container2{
  display: flex;
}

.menu2{
 margin-top: 3px;
text-align: center;
}

.titulo2{
  color: rgb(0, 0, 0);
 
  margin-left: 258px;
  margin-top: 18px;
  font-size: 55px; 
}


.paragrafo2{
  font: arial;
  margin-left: 6px;
  margin-top: -38px;
  font-size: 25px;
  
}

.img2{
  width: 234px;
  height: 201px;
}